*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
   color: #F8EAFF; 
   background-color: #F8EAFF;
    font-family: sans-serif;
}
h1{
    font-size: 70px;
    color:#fff;
    text-align: center;
}
.contenedor{ 
  width:100%;
    margin: auto;
}

.galeria__columna{
    margin: 5px;
    filter: grayscale(100%);
}
.galeria__columna:hover{
   filter: grayscale(0%);
}
.galeria .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
@media(min-width:520px){
    .galeria__columna{
        width: 40%;
    }
}
@media(min-width:728px){
    .galeria__columna{
        width: 32%;
    }
}


@media(min-width:1024px){
    .galeria__columna{
        width: 24%;
    }
    .contenedor{
        width: 1024px;
    }
}


@media(min-width:1200px){
    .contenedor{
        width: 1200px;
    }
}




#item1{

height: 80px;
padding-right: 55px;
color: #400038;
}


#item2{
    font-size: 15px;
    height: 80px;
    padding-right: 5px;
   
  
}


nav {
    height: 80px;
    width: 100%;
}
.enlace{
    padding: 20px 0px;
    font-size: 35px;
    color: #400038;
    float: left;
    padding-left: 20px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #ff2183;
    font-size: 18px;
    padding: 20px 0px;
}

 li a:hover{
    background: rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.imgg{
   cursor: pointer;
    line-height: 80px;
    font-size: 30px;
    float: right;
    margin-right: 10px;
    display: none;
}

#btn-menu {
    display: none;
}

@media (max-width: 952px){

    nav ul li a{
    font-size: 20px;
    padding: 20px 0px; 
    }
}

@media (max-width: 868px){

ul {
    position: fixed;
    width: 50%;
    height: 50vh;
    background: #F8EAFF;
    top: 80px;
    z-index: 1;
    text-align: left;
    transition: all .5s;
    margin-left: -70%;

}
nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
}



#btn-menu:checked ~ ul{
    margin: 0;
}
.imgg{
    display: block;
    float: right;
}

}

